.body{
    margin: 0px;
}

.header{
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.header a{
    text-decoration: none;
    color: black;
    float: left;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    position: absolute;
    margin-left: 40px;
    margin-top: 0px;
    font-size: 35px;
}

.nav-center{
    float: none;
    position: relative;
    left: 38%;
}

.nav-center a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.nav-center a:hover{
    background-color: #58327f;
    color: white;
    border-radius: 5px;
}

.nav-right{
    float: right;
}

.nav-right button{
    margin-right: 40px;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: #58327f;
    cursor: pointer;
}

.nav-right button:hover{
    background-color: rgb(243, 239, 239);
}

.bg-foto img{
    width: 100%;
    border-radius: 10px;
}

.bag-diskon{
    text-align: center;
    background-color: rgb(175, 175, 175);
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1%;
    padding-bottom: 11%;
    border-radius: 5px;
}

.besar-diskon{
    background-color: blueviolet;
    float: left;
    padding: 30px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 60px;
}


.baris-sepatu{
    display: table;
    margin-left: 8%;
    margin-top: 50px;
    position: relative;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
}

.baris-sepatu button{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #58327f;
    border-color: #58327f;
    background-color: white;
    border-radius: 5px;
}

.baris-sepatu button:hover{
    background-color:  rgb(243, 239, 239);
    cursor: pointer;
}

.sepatu{
    border-radius: 7px;
    position: relative;
    float: left;
    width: 250px;
    height: 250px;
    margin-left: 20px;
    content: "";
}

.sepatu img{
    border-radius: 7px;
}

.sepatu img:hover{
    box-shadow: 1px 1px 20px black ;
    cursor: pointer;
}

.harga{
    position: absolute;
    bottom: 1px;
    color:white;
    margin-left: 20px;
    line-height: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.identitas{
    margin-top: 50px;
    column-count: 4;
    background-color: #72479c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    display: table;
    content: "";
    width: 85%;
    padding-left: 200px;
}

.kolom{
    float: left;
    width: 15%;
}

.footer{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #58327f;
    text-align: center;
}